* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Figtree", sans-serif;
  background-color: var(--bg);
  color: var(--txt);
}
